<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<header th:fragment="header">
    <title>SAM2021</title>
    <head>
        <link th:href="@{/css/header.css}" rel="stylesheet">
    </head>
    <ul>
        <li><h1 class="logo">Work City USA</h1></li>
        <li class="navbutton" th:if="${session.isEmpty()}"><a href="/login" th:method="GET">Login</a> </li>
        <li class="navbutton" th:if="${!session.isEmpty()}"><a href="/logout" th:method="GET">Logout</a> </li>
    </ul>
</header>
<script>
    var timeoutMsg = "Your session will time out soon due to inactivity";

    function timeoutPrompt(){


    }



</script>
<body>
</body>
</html>